.pagination{
    display: flex;
    gap: 15px;
    font-size: 2.1rem;
    align-items: baseline;
}

.pagination li{
    border-radius: 50px;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px #191c24;
    -webkit-transition:border  2s ease-out;
    -moz-transition:border  2s ease-out;
    -o-transition:border  2s ease-out;
    transition: border 2s ease-out
}

.pagination a{
  color:white;
  border-radius: 50px;
  width: 3.5rem;
  height: 3.5rem;
}

.pagination li:hover{
    background-color: inherit;
    border: solid 2px #5e825f;
}

.pagination .active{
    background-color: inherit;
    border: solid 2px red;
    color: red;
}

.paination .disabled{
    color: azure;
}