.pagination{
    display: flex;
    gap: 15px;
    font-size: 2.1rem;
}

.pagination li{
    border-radius: 50px;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a{
  color:white;
  border-radius: 50px;
  width: 3.5rem;
  height: 3.5rem;
}

.pagination li:hover{
    background-color: grey;
}

.pagination .active{
    background-color: red;
    color: black;
}

.paination .disabled{
    color: azure;
}